Repository rakataprime/pytauri: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, python-fmt, rust-fmt, python-type-check

uv-lock:
  name: uv-lock
  language: system
  entry: uv lock
  pass_filenames: false

python-fmt:
  stages:
  - pre-commit
  name: python format
  language: script
  entry: scripts/python-fmt.sh
  pass_filenames: false

rust-fmt:
  stages:
  - pre-commit
  name: rust format
  language: system
  entry: cargo fmt --all
  pass_filenames: false

python-type-check:
  stages:
  - pre-commit
  name: python type check
  language: system
  entry: pnpm pyright .
  pass_filenames: false

docs: add `CHANGELOG.md` (#42)
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  docs/CHANGELOG/index.md
  docs/CHANGELOG/js/tauri-plugin-pytauri-api.md
  docs/CHANGELOG/py/codelldb.md
  docs/CHANGELOG/py/pyo3-utils.md
  docs/CHANGELOG/py/pytauri-plugin-notification.md
  docs/CHANGELOG/py/pytauri.md
  docs/CHANGELOG/rs/pyo3-utils.md
  docs/CHANGELOG/rs/pytauri-core.md
  docs/CHANGELOG/rs/pytauri-plugin-notification.md
  docs/CHANGELOG/rs/pytauri.md
  docs/CHANGELOG/rs/tauri-plugin-pytauri.md
  docs/CONTRIBUTING/index.md
  mkdocs.yml
  python/codelldb/CHANGELOG.md
  python/pyo3-utils/CHANGELOG.md
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri/CHANGELOG.md
Due: none

chore(github): add issue and pull request templates (#43)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_report.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

feat(pytauri): `webview::WebviewWindow`, `Manager`, `App::handle` (#46)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/webview.py
Due: python-fmt, rust-fmt, python-type-check

refactor(plugin/notification): use `ImplManager` as `ImplNotificationExt` (#47)
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/src/ext_mod_impl.rs
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/ffi.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri): accessing the `WebviewWindow` in `Commands` (#48)
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri): add `Event`, `EventId`, `Listener`, `ImplListener` (#49)
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/lib.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri)!: support `multiprocessing` for standalone app (#51)
  CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  crates/pytauri/src/_append_ext_mod.py
  crates/pytauri/src/_freeze.py
  crates/pytauri/src/pyembed.rs
  crates/pytauri/src/standalone.rs
  docs/usage/tutorial/using-pytauri.md
  examples/tauri-app/src-tauri/src/main.rs
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri): support channels ipc (#50)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
  crates/tauri-plugin-pytauri/guest-js/src/index.ts
  examples/tauri-app/index.html
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  examples/tauri-app/src/main.ts
  pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/ipc.py
  python/pytauri/src/pytauri/webview.py
  scripts/python-verifytypes.sh
Due: uv-lock, python-fmt, rust-fmt, python-type-check

refactor(standalone)!: new API for preparing python interpreter (#52)
  CHANGELOG.md
  crates/pytauri/CHANGELOG.md
  crates/pytauri/src/_append_ext_mod.py
  crates/pytauri/src/_post_init_pyi.py
  crates/pytauri/src/pyembed.rs
  crates/pytauri/src/standalone.rs
  docs/usage/tutorial/using-pytauri.md
  examples/tauri-app/src-tauri/python/tauri_app/__main__.py
  examples/tauri-app/src-tauri/src/main.rs
Due: python-fmt, rust-fmt, python-type-check

feat(internal/pytauri): support specifying `entry_point` by package name (#54)
  crates/pytauri/CHANGELOG.md
  crates/pytauri/src/_post_init_pyi.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/_ext_mod.py
Due: python-fmt, python-type-check

docs(examples): add `integrate with nicegui` example `nicegui-app` (#55)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  examples/nicegui-app/.gitignore
  examples/nicegui-app/.taurignore
  examples/nicegui-app/Cargo.toml
  examples/nicegui-app/README.md
  examples/nicegui-app/build.rs
  examples/nicegui-app/capabilities/default.json
  examples/nicegui-app/icons/128x128.png
  examples/nicegui-app/icons/128x128@2x.png
  examples/nicegui-app/icons/32x32.png
  examples/nicegui-app/icons/README.md
  examples/nicegui-app/icons/Square107x107Logo.png
  examples/nicegui-app/icons/Square142x142Logo.png
  examples/nicegui-app/icons/Square150x150Logo.png
  examples/nicegui-app/icons/Square284x284Logo.png
  examples/nicegui-app/icons/Square30x30Logo.png
  examples/nicegui-app/icons/Square310x310Logo.png
  examples/nicegui-app/icons/Square44x44Logo.png
  examples/nicegui-app/icons/Square71x71Logo.png
  examples/nicegui-app/icons/Square89x89Logo.png
  examples/nicegui-app/icons/StoreLogo.png
  examples/nicegui-app/icons/icon.icns
  examples/nicegui-app/icons/icon.ico
  examples/nicegui-app/icons/icon.png
  examples/nicegui-app/pyproject.toml
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/python/nicegui_app/__main__.py
  examples/nicegui-app/python/nicegui_app/py.typed
  examples/nicegui-app/setup.py
  examples/nicegui-app/src/lib.rs
  examples/nicegui-app/src/main.rs
  examples/nicegui-app/tauri.bundle.json
  examples/nicegui-app/tauri.conf.json
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  pyproject.toml
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

perf(pytauri)!: all IPC methods only accept `bytes` as parameters now (#56)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, rust-fmt, python-type-check

refactor!: remove `RunEventEnum`, use matched `RunEvent` directly (#57)
  CHANGELOG.md
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/src/py_match.rs
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/lib.rs
  examples/nicegui-app/python/nicegui_app/__init__.py
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/lib.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

feat(standalone): re-export `dunce` to remove UNC path prefix (#60)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
  crates/pytauri/src/standalone.rs
  examples/nicegui-app/src/main.rs
  examples/tauri-app/src-tauri/src/main.rs
Due: rust-fmt

test: add integration tests for `command` and `channel` ipc (#64)
  .github/workflows/lint-test.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/tauri_runtime.rs
  crates/pytauri/Cargo.toml
  crates/pytauri/src/lib.rs
  pyproject.toml
  tests/pytauri-test/.gitignore
  tests/pytauri-test/Cargo.toml
  tests/pytauri-test/build.rs
  tests/pytauri-test/capabilities/default.json
  tests/pytauri-test/pyproject.toml
  tests/pytauri-test/python/pytauri_test/__init__.py
  tests/pytauri-test/src/lib.rs
  tests/pytauri-test/tauri.conf.json
  tests/pytauri-test/tests/ipc.rs
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

chore: bump `rs/pytauri-core` to `0.2.0`
  .github/workflows/lint-test.yml
  Cargo.lock
  Cargo.toml
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
Due: none

chore: bump `rs/tauri-plugin-pytauri` to `0.2.0`
  Cargo.lock
  Cargo.toml
  crates/tauri-plugin-pytauri/CHANGELOG.md
  crates/tauri-plugin-pytauri/Cargo.toml
Due: none

chore: bump `rs/pytauri` to `0.2.0`
  Cargo.lock
  Cargo.toml
  crates/pytauri/CHANGELOG.md
  crates/pytauri/Cargo.toml
Due: none

chore: bump `js/tauri-plugin-pytauri-api` to `0.2.0`
  crates/tauri-plugin-pytauri/guest-js/CHANGELOG.md
  crates/tauri-plugin-pytauri/guest-js/package.json
Due: none

chore: bump `py/pytauri` to `0.2.0`
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
Due: none

feat(notification)!: add more `NotificationBuilder` parameters (#70)
  CHANGELOG.md
  README.md
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/src/ext_mod_impl.rs
  crates/pytauri-plugin-notification/src/lib.rs
  docs_src/tutorial/plugin.py
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/tauri-app/src-tauri/python/tauri_app/__init__.py
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/__init__.py
  python/pytauri-plugin-notification/src/pytauri_plugin_notification/ffi.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

chore: bump `rs/pytauri-plugin-notification` to `0.2.0`
  Cargo.lock
  Cargo.toml
  crates/pytauri-plugin-notification/CHANGELOG.md
  crates/pytauri-plugin-notification/Cargo.toml
Due: none

chore: bump `py/pytauri-plugin-notification` to `0.2.0`
  python/pytauri-plugin-notification/CHANGELOG.md
  python/pytauri-plugin-notification/pyproject.toml
Due: none

docs: update docs for v0.2.0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/usage/concepts/ipc.md
  docs/usage/tutorial/py-js-ipc.md
  docs/usage/tutorial/using-plugins.md
  docs/usage/tutorial/using-pytauri.md
Due: none

feat(pytauri): implement tauri `menu` feature (#75)
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/image.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/ext_mod_impl/window.rs
  crates/pytauri-core/src/lib.rs
  mkdocs.yml
  python/pytauri/CHANGELOG.md
  python/pytauri/pyproject.toml
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/image.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/menu.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/ffi/window.py
  python/pytauri/src/pytauri/image.py
  python/pytauri/src/pytauri/menu.py
  python/pytauri/src/pytauri/window.py
  uv.lock
Due: uv-lock, python-fmt, rust-fmt, python-type-check

perf(pytauri): use `pyo3::intern!` for commands `IPC` performance (#76)
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ipc.py
Due: python-fmt, rust-fmt, python-type-check

feat(pytauri)!: implement tauri `tray` feature (#79)
  .github/workflows/lint-test.yml
  CHANGELOG.md
  Cargo.toml
  crates/pyo3-utils/CHANGELOG.md
  crates/pyo3-utils/src/py_wrapper.rs
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/Cargo.toml
  crates/pytauri-core/src/ext_mod_impl/image.rs
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/menu.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri-core/src/ext_mod_impl/tray.rs
  crates/pytauri-core/src/ext_mod_impl/webview.rs
  crates/pytauri-core/src/lib.rs
  crates/pytauri-plugin-notification/src/ext_mod_impl.rs
  examples/nicegui-app/pyproject.toml
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/python/nicegui_app/_tray_menu.py
  pyproject.toml
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/__init__.py
  python/pytauri/src/pytauri/ffi/__init__.py
  python/pytauri/src/pytauri/ffi/ipc.py
  python/pytauri/src/pytauri/ffi/lib.py
  python/pytauri/src/pytauri/ffi/menu.py
  python/pytauri/src/pytauri/ffi/tray.py
  python/pytauri/src/pytauri/ffi/webview.py
  python/pytauri/src/pytauri/menu.py
  python/pytauri/src/pytauri/tray.py
Due: uv-lock, python-fmt, rust-fmt, python-type-check

feat(pytauri)!: add `BuilderArgs::setup` to support setup hook (#80)
  CHANGELOG.md
  crates/pytauri-core/CHANGELOG.md
  crates/pytauri-core/src/ext_mod_impl/ipc.rs
  crates/pytauri-core/src/ext_mod_impl/mod.rs
  crates/pytauri/CHANGELOG.md
  crates/pytauri/src/lib.rs
  examples/nicegui-app/python/nicegui_app/__init__.py
  examples/nicegui-app/python/nicegui_app/_server.py
  examples/nicegui-app/python/nicegui_app/_tray_menu.py
  python/pytauri/CHANGELOG.md
  python/pytauri/src/pytauri/ffi/lib.py
Due: python-fmt, rust-fmt, python-type-check

fix formatting
  examples/rustandpyinvoke-tauri-app/README.md
Due: none

update launch instructions
  examples/rustandpyinvoke-tauri-app/README.md
Due: none

update current
  examples/rustandpyinvoke-tauri-app/README.md
Due: none

Path conditions:
  uv-lock: any of: ^(uv\.lock|pyproject\.toml|uv\.toml)$
  python-fmt: any of: \.py$
  rust-fmt: any of: \.rs$
  python-type-check: any of: \.py$
